@font-face {
	font-family: Sneak;
	src: url("/fonts/Sneak-Regular.woff2");
	font-weight: 400;
}
@font-face {
	font-family: Sneak;
	src: url("/fonts/Sneak-Light.woff2");
	font-weight: 200;
}
@font-face {
	font-family: Sneak;
	src: url("/fonts/Sneak-Medium.woff2");
	font-weight: 600;
}
