@import "_variables.scss";

header {
	width: 100%;
	height: 90px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
header .header__container {
	width: 100%;
	max-width: 1210px;
	margin: 0 auto;
	height: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__container ul {
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: row;
	gap: 6em;
}
.header__container ul li {
	list-style: none;
	font-weight: 600;
	font-size: 1.1em;
	color: $colorAccent;
}
header .ctas button {
	background: $colorGreen;
}
