// colors
$colorYellow: #e3b34c;
$colorGreen: #5ab882;
$colorRed: #d2385e;
$colorTeal: #62c4ed;
$colorPurple: #520f53;

// fonts
$ffMain: "Jost", sans-serif;
$ffExotic: "Sneak", sans-serif;

// standards
$colorAccent: $colorYellow;
